<section data-ng-controller="HomeController" data-ng-init="init()">
	<section data-ng-if="!loggedIn">
		<div class="text-center">
			<h1>Welcome!</h1>
			<p>Please sign up or log in.</p>
		</div>
	</section>
	<section data-ng-if="loggedIn">
		<div class="page-header" >
			<h1>Summary</h1>
		</div>
		<div class="col-xs-12">
			<div class="alert alert-warning text-center" data-ng-if="!activeBudget && loggedIn">
				<p>No budgets yet. <a href="/#!/budgets/create">Create One.</a></p>
			</div>
			<div data-ng-if="activeBudget">
				<div class="row table-header">
					<div class="col-xs-4"><h4 class="text-center">Category</h4></div>
					<div class="col-xs-4"><h4 class="text-center">Budgeted</h4></div>
					<div class="col-xs-4"><h4 class="text-center">Spent</h4></div>
				</div>
				<div class="row" data-ng-repeat="category in categories">
					<div class="col-xs-4 table-cell">
						<p data-ng-bind="category.name"></p>
					</div>
					<div class="col-xs-4 table-cell-middle">
						<p>${{category.budgetedAmount}}</p>
					</div>
					<div class="col-xs-4 table-cell">
						<p>${{category.spent}}</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>