<section data-ng-controller="IncomesController" data-ng-init="find()">
	<div class="page-header">
		<h1>Incomes</h1>
	</div>
	<div class="list-group">
		<div data-ng-repeat="income in incomes" class="list-group-item">
			<div class="pull-right" data-ng-show="authentication.user._id == income.user._id">
				<a class="btn btn-primary" href="/#!/incomes/{{income._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-primary" data-ng-click="remove();">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</div>
			<h4 class="list-group-item-heading" data-ng-bind="income.date | date:'mediumDate'"></h4>
			<p class="list-group-item-text">Source: {{income.source}}</p>
			<p class="list-group-item-text">Amount: {{income.amount}}</p>
		</div>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="incomes.$resolved && !incomes.length">
		No incomes yet, why don't you <a href="/#!/incomes/create">create one</a>?
	</div>
</section>