<section data-ng-controller="IncomesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="income.date"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == income.user._id">
		<a class="btn btn-primary" href="/#!/incomes/{{income._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<p class="lead" data-ng-bind="income.date | date: 'mediumDate'"></p>
	<p class="lead" data-ng-bind="income.source"></p>
	<p class="lead" data-ng-bind="income.amount"></p>
</section>