<section data-ng-controller="CategoriesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Category</h1>
	</div>
	<div class="col-md-12">
		<form name="categoryForm" class="form-horizontal" data-ng-submit="update(categoryForm.$valid)" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error' : submitted && categoryForm.name.$invalid}">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input name="name" type="text" data-ng-model="category.name" id="name" class="form-control" value="{{category.name}}" required>
					</div>
					<div ng-show="submitted && categoryForm.name.$invalid" class="help-block">
						<p ng-show="categoryForm.name.$error.required" class="text-danger">Name is required</p>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error' : submitted && categoryForm.budgetedAmount.$invalid}">
					<label class="control-label" for="budgetedAmount">Budgeted Amount</label>
					<div class="controls">
						<input name="budgetedAmount" type="number" data-ng-model="category.budgetedAmount" id="budgetedAmount" class="form-control" value="{{category.budgetedAmount}}" required>
					</div>
					<div ng-show="submitted && categoryForm.name.$invalid" class="help-block">
						<p ng-show="categoryForm.name.$error.required" class="text-danger">Budgeted amount is required</p>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error' : submitted && categoryForm.budgetId.$invalid}">
					<label class="control-label" for="budgetId">Select Budget</label>
					<div class="controls">
						<select name="budgetId" data-ng-model="category.budgetId" id="budgetId" class="form-control" ng-init="getUserBudgets()" required>
							<option data-ng-repeat="budget in budgets" data-ng-value="budget._id">{{budget.name}}</option>
						</select>
					</div>
					<div ng-show="submitted && categoryForm.type.$invalid" class="help-block">
						<p ng-show="categoryForm.type.$error.required" class="text-danger">Type is required</p>
					</div>
				</div>

				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>