<section data-ng-controller="ExpensesController" data-ng-init="find()">
	<div class="page-header">
		<h1>Expenses</h1>
	</div>
	<div class="list-group">
		<div data-ng-repeat="expense in expenses" class="list-group-item">
			<div class="pull-right">
				<a class="btn btn-primary" href="/#!/expense/{{expense._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-primary" data-ng-click="remove(expense);">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</div>
			<h4 class="list-group-item-heading" data-ng-bind="expense.date | date: 'mediumDate'"></h4>
			<p class="list-group-item-text">Location: {{expense.location}}</p>
			<p class="list-group-item-text" data-ng-init="getCategoryName(expense)">Category: {{categoryName}}</p>
			<p class="list-group-item-text">Amount: ${{expense.amount}}</p>
			<p class="list-group-item-text">Notes: {{expense.notes}}</p>
		</div>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="!expenses.length">
		<a href="/#!/expenses/create">Report Expense</a>
	</div>
</section>